{% block header %}

	<div class="headers">
		<div class="header">
			<h1>Visite Anime</h1>
			<label for="check" class="bar">
				<input id="check" type="checkbox">

				<span class="top"></span>
				<span class="middle"></span>
				<span class="bottom"></span>
			</label>
			<div id="active-header" class="header-anime">
				<a href="{{ path('app_home') }}">Niv Principal</a>
				{% if app.user is null %}
					<a href="{{ path('app_login') }}" id="utilisateur">Niv Connexion</a>
					<a href="{{ path('app_register') }}" id="utilisateur">Niv s'inscrire</a>
				{% elseif is_granted('ROLE_USER') %}
					<a href="{{ path('app_user') }}">{{app.user.email}}</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
				<a id="mod-active">Niv Mod</a>
					
				{% endif %}



				{# <div class="conternaire-connexion" id="conternaire-connexion">
									<h3>connexion</h3>
									<form action="">
										<input class="btn-connexion" type="text" name="name" id="name" placeholder="Enter your login:" required>
									</br>
									<input class="btn-connexion" type="password" name="password" id="password" placeholder="Enter your password:" required>
				
									<button type="submit">LOGIN</button>
										{# <a id="switch-inscription-connexion">inscription</a> #}
				{# </form>
								 <a href="{{ path('app_user_new') }}">inscription</a>
								</div>
				
				
								<div class="conternaire-inscription" id="conternaire-inscription">
								<h3>inscription</h3>
								{{ form_start(form) }}
				    {{ form_widget(form) }}
				    <button class="btn">{{ button_label|default('Save') }}</button>
				{{ form_end(form) }} #}

				<div id="mod-start" class="mod-active">
					<a class="mod" href="{{ path('app_livre_index') }}">Niv Livre</a>
					<a class="mod" href="{{ path('app_serie_index') }}">Niv Serie</a>
					<a class="mod" href="{{ path('app_hero_index') }}">Niv Hero</a>
				</div>

			</div>
		</div>
	{% endblock %}
